body {
    background-color: rgb(233, 223, 255);
    font-family: 'Opan Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: rgb(44, 44, 44);
}

h1 {
    color: rgb(83, 49, 156);
    margin: 32px 0 64px 0;
}

.container {
    background-color: white;
    max-width: 900px;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 64px 64px 64px;
    position: relative;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(200, 175, 255);
    margin: 0 0 32px 0;
    padding: 16px;
}
.tabs p {
    letter-spacing: 1.2px;
    padding: 8px;
}

.tabs p:hover {
    color: rgb(83, 49, 156);
    cursor: pointer;
}

.tabs p.active {
    color: rgb(83, 49, 156);
    position: relative;
}

.line {
    height: 3px;
    width: 100%;
    background-color: rgb(231, 231, 231);
    position: absolute;
    top: 95px;
}

.tabs .active::before {
    content: "";
    height: 4px;
    width: 200%;
    border-radius: 10px;
    background-color: rgb(83, 49, 156);
    position: absolute;
    bottom: -31.5px;
    left: -50%;
    z-index: 1;
}

.toggle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-wrapper img {
    height: 40px;
    margin: 0 16px;
}

.toggle {
    background-color: rgb(83, 49, 156);
    height: 34px;
    width: 160px;
    box-sizing: border-box;
    border-radius: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px 0 16px;
    font-optical-sizing: 12px;
    font-weight: bold;
}

.toggle span:first-of-type {
    color: white;
}

.toggle span:last-of-type {
    background-color: white;
    color: rgb(83, 49, 156);
    padding: 4px 16px;
    border-radius: 20px;
}

.sessions-card {
    background-color: rgb(250, 247, 255);
    text-align: center;
    padding: 32px;
    width: 50%;
    text-transform: uppercase;
    margin: 32px 0;
    border-radius: 12px;
}

.sessions-card p {
    color: rgb(44, 44, 44);
    font-size: 12px;
    font-weight: bold;
    margin: 16px 0 0 0;
}
.sessions-card .number {
    color: rgb(83, 49, 156);
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}

.desc {
    line-height: 32px;
    margin: 16px 0 32px 0;
}

.slider {
    width: 100%;
    position: relative;
}

.slider .bar {
    width: 100%;
    height: 16px;
    background-color:rgb(248, 248, 248);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 20px;
}

.slider .progress {
    width: 31%;
    height: 18px;
    background-image: linear-gradient(90deg, 
        rgba(2, 0, 36, 1) 0%,
        rgba(53, 10, 74, 1) 36%,
        rgba(83, 49, 156, 1) 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.slider .point {
    width: 28px;
    height: 28px;
    background-color:rgb(83, 49, 156);
    position: absolute;
    top: -6px;
    left: 30%;
    border-radius: 50%;
    border: 2px solid white;
    transition: transform 0.15s;
}

.slider .point:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.scale {
    width: 100%;
    margin: 0 0 32px 0;
}

.slider .scale ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-weight: bold;
    color: rgb(166, 166, 166);
    padding: 0;
}

.card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.card {
    background-color: rgb(250, 247, 255);
    color: rgb(83, 49, 156);
    text-align: center;
    padding: 16px 64px;
    border-radius: 10px;
    font-weight: bold;
    /* box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
                0 2px 2px hsl(0deg 0% 0% / 0.075),
                0 4px 4px hsl(0deg 0% 0% / 0.075),
                0 8px 8px hsl(0deg 0% 0% / 0.075),
                0 16px 16px hsl(0deg 0% 0% / 0.075); */
    box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 16px;
    transition: transform 0.15s ease;
    position: relative;
}

.card:hover {
    transform: translateY(-8px);
}

.top-section{
    margin: 16px 0;
}

.card .top-section p {
    margin: 4px 0;
}

.top-section .price {
    font-size: 42px;
    color: rgb(44, 44, 44);
}
.card hr {
    width: 30%;
    height: 3px;
    background-color: rgb(231, 231, 231);
    border: none;
    border-radius: 2px;
}

.card button {
    border: none;
    background-color: rgb(83, 49, 156);
    color: white;
    padding: 16px;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.15s ease;
    margin: 0 0 16px 0;
}

.card button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card .save-tag{
    color: white;
    background-image: linear-gradient(90deg, 
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 10, 74, 1) 36%,
    rgba(83, 49, 156, 1) 100%);
    width: 100%;
    position: absolute;
    top: -24px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media only screen and (max-width: 800px) {
    .card-wrapper{
        flex-wrap: wrap-reverse;
        align-items: space-between;
    }
    .card {
        width: 100%;
    }
    .sessions-card {
        width: 80%;
    }
}

@media only screen and (max-width: 650px) {
    
    .container {
        padding: 0 16px;
    }

    h1 {
        margin-bottom: 32px;
    }

    body {
        padding: 8px;
    }
    .sessions-card {
        width: 100%;
        box-sizing: border-box;
    }
    .tabs p {
        box-sizing: border-box;
        font-size: 0.95rem;
    }
    .tabs .active::before {
        width: 100%;
        left: 0;
    }
    .line {
        top: 92px;
    }
    .toggle-wrapper {
        width: 90%;
    }
    .toggle {
        margin-left: 8px;
        margin-right: 8px;
    }
}
